a
{
    text-decoration: none;
    color: beige;
}
a:hover
{
    text-decoration: none;
    color: orange;
}
ul
{
    background-color: deepskyblue;
    height: 502px;
    width: 300px;
}
li
{
    margin: 50px;
    margin-top: 5PX;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 30px;
}
img
{
    background-color: white;
    margin-bottom: -80PX;
}
.blabla
{
    /* border: 2PX dashed black; */
    width: 100%;
    height: 100PX;
}
.valencio
{
    background-color: deepskyblue;
    height: 502px;
    width: 300px;
}
form
{
    margin-top: 39px;
    width: 500px;
    height: 503px;
    background-image: url(img/bd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 350px;
}
label
{
    color: whitesmoke;
}
  
.aina
{ 
    color: deepskyblue;
    font-size: 25px;
    margin-left: 970px;
    margin-top: -580px;
}
.aina{
    animation-name: flash;
    animation-duration: 7s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
@keyframes flash
{
0%
{
    color: deepskyblue;
}
25%
{
    color: orange;
}
50%
{
    color: deepskyblue;
}
75%
{
    color: orange;
}
100%
{
    color: deepskyblue;
}
}
/* .aina{
    animation: heartbeat 4.5s ease-in-out infinite;
  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(1) translateX(0);
    }
    20% {
      transform: scale(1.01) translateX(10px);
    }
    40% {
      transform: scale(1) translateX(-10px);
    }
    60% {
      transform: scale(1.01) translateX(10px);
    }
    80% {
      transform: scale(1) translateX(-10px);
    }
    100% {
      transform: scale(1) translateX(0);
    }
  } */
.develop
{
    height: 800px;
}
/* .leejunior
{
    margin-left: 1050px;
    margin-top: -250px;
} */
body
{
    background-color:   white;
}
.sary
{
    display: flex;
    flex-direction: row;
}
.leejunior
{
    height: 150px;
    width: 150px;
    margin: 40px;
}
.leejunior:hover
{
    height: 220px;
    width: 195px;
    margin: 30px;
}
.val8
{
    margin-left: 870px;
    margin-top: -510px;
}